<div class="spm--xy">
  <div class="container container--archive">
    <% let lastYear; %>
    <% page.posts.each(function(post, i){ %>
      <% let currentYear = post.date.year(); %>
      <% if (lastYear != currentYear) { %>
        <% if (lastYear != null){ %>
          </section>
        <% } %>
        <% lastYear = currentYear; %>
        <div class="archive__year">
          <h2 class="archive-year ff--s"><i><%= currentYear %></i></h2>
        </div>
        <section class="archive__list mb--3">
      <% } %>
      <article class="d--f p--r">
        <div class="post__meta post__meta--archive ta--r fg--0 fs--0">
          <% if (typeof(post.date_updated) === "undefined") { %>
            <time content="<%= date(post.date, config.date_format) %>" datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
              <span class="post-date--short"><%= date(post.date, "MMM D") %></span>
              <span class="post-date--long"><%= date(post.date, "MMMM D") %></span>
            </time>
          <% } else { %>
            <meta content="<%= date(post.date, config.date_format) %>" itemprop="datePublished">
            <time content="<%= date(post.date_updated, config.date_format) %>" datetime="<%= date_xml(post.date_updated) %>" itemprop="dateModified" title="Published on <%= date(post.date, "MMMM D, YYYY") %>">
              <span class="post-date--short"><%= date(post.date_updated, "MMM D") %></span>
              <span class="post-date--long"><%= date(post.date_updated, "MMMM D") %></span>
            </time>
          <% } %>
        </div>
        <p class="mb--0.5">
          <a href="<%= (post.external) ? post.external.url : url_for(post.path) %>" class="archive-link"><%- post.title %></a>
        </p>
      </article>
    <% }) %>
    <% if (page.posts.length){ %>
      </section>
    <% } %>
  </div>
</div>
