<div class="spm--xy">
  <div class="container container--archive">
    <% let lastYear; %>
    <% page.posts.each(function(post, i){ %>
      <% let currentYear = post.date.year(); %>
      <% if (lastYear != currentYear) { %>
        <% if (lastYear != null){ %>
          </section>
        <% } %>
        <% lastYear = currentYear; %>
        <div class="archive__year">
          <h2 class="archive-year ff--s"><i><%= currentYear %></i></h2>
        </div>
        <section class="archive__list">
      <% } %>
      <article class="p--r">
        <h5 class="mb--0.5">
          <a href="<%- url_for(post.path) %>" class="archive-link"><%= post.title %></a>
        </h5>
        <div class="post__meta post__meta--archive mb--0.5">
          <% if (typeof(post.dateUpdated) === "undefined") { %>
            <time content="<%= date(post.date, config.date_format) %>" datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
              <%= date(post.date, "MMMM D") %>
            </time>
          <% } else { %>
            <meta content="<%= date(post.date, config.date_format) %>" itemprop="datePublished">
            <time content="<%= date(post.dateUpdated, config.date_format) %>" datetime="<%= date_xml(post.dateUpdated) %>" itemprop="dateModified" title="Published on <%= date(post.date, "MMMM D, YYYY") %>">
              <%= date(post.dateUpdated, "MMMM D") %>
            </time>
          <% } %>
        </div>
        <div itemprop="<%= (typeof(post.review) === "object") ? "reviewBody" : "articleBody" %>">
          <%- post.excerpt %>
        </div>
      </article>
    <% }) %>
    <% if (page.posts.length){ %>
      </section>
    <% } %>
  </div>
</div>
