<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- config.title %></title>

  <link rel="stylesheet" href="/assets/css/screen.css">
  <%- page_css(page.css) %>

  <script src="https://use.typekit.net/gwp6ivk.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
<div class="parallax">
  <div class="p--a parallax__layer parallax__layer--bottom"></div>
  <div class="p--a parallax__layer parallax__layer--top"></div>
  <div class="p--a parallax__layer">
    <%- partial('_partial/header', {}, {cache: true}) %>

    <main role="main">
    <%- body %>
    </main>

    <%- partial('_partial/footer', {}, {cache: true}) %>
  </div>
</div>

<script src="/assets/js/app.js"></script>
<%- page_scripts(page.js) %>
</body>
</html>
