<div class="spm--xy">
  <div class="container container--writing">
    <article itemscope itemtype="http://schema.org/<%= (typeof(page.review) === "object") ? "Review" : "BlogPosting" %>">
      <header>
        <h1 itemprop="name"><%= page.title %></h1>
        <div class="post__meta smm--b">
          <% if (typeof(page.dateUpdated) === "undefined") { %>
            <span class="ff--s fs--i">Published</span> <time content="<%= date(page.date, config.date_format) %>" datetime="<%= date_xml(page.date) %>" itemprop="datePublished">
              <%= date(page.date, "MMMM D, YYYY") %>
            </time>
          <% } else { %>
            <span class="ff--s fs--i">Updated</span> <meta content="<%= date(page.date, config.date_format) %>" itemprop="datePublished">
            <time content="<%= date(page.dateUpdated, config.date_format) %>" datetime="<%= date_xml(page.dateUpdated) %>" itemprop="dateModified" title="Published <%= date(page.date, "MMMM D, YYYY") %>">
              <%= date(page.dateUpdated, "MMMM D, YYYY") %>
            </time>
          <% } %>
          <span class="ws--nw ln--1.4">
            <span class="ff--s fs--i">by</span>
            <a href="/about/" rel="author">
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name"><%- config.author %></span>
              </span>
            </a>
          </span>
        </div>
      </header>
      <% if (typeof(page.review) === "object") { %>
        <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
          <meta itemprop="name" content="<%= page.review.name %>">
        </span>
        <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="post__rating mb--0.5">
          <span class="post-star"><%= "★".repeat(page.review.rating) %></span><%= "☆".repeat(5 - page.review.rating) %>
          <meta itemprop="ratingValue" content="<%= page.review.rating %>">
          <meta itemprop="bestRating" content="5">
        </div>
      <% } %>
      <div itemprop="<%= (typeof(page.review) === "object") ? "reviewBody" : "articleBody" %>">
        <%- page.content %>
      </div>
    </article>
    <div class="d--f spm--t">
      <% if (page.prev) { %>
        <a href="<%= url_for(page.prev.path) %>" title="<%= page.prev.title %>">Prev</a>
      <% } %>
      <% if (page.next) { %>
        <a href="<%= url_for(page.next.path) %>" title="<%= page.next.title %>" class="ml--a">Next</a>
      <% } %>
    </div>
  </div>
</div>
